body {
    font-family: 'Pacifico', cursive;
    text-align: center;
    background-image: url('../assets/bg.jpg');
    
    animation-name: bg-position;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
    -webkit-animation-name: bg-position;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

h1 {
    color: #fff;
    text-shadow: 0 0 20px #000;
}

button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 130px;
    height: 130px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #EC407A;
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
    box-shadow: 0 0 20px #000;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: .7;

}

canvas {
    box-shadow: 0 0 40px #000;
    background-color: #fff;
    max-width: 90%;
}

#message {
    vertical-align: top;
}

video,
#message {
    display: none;
}

@-webkit-keyframes bg-position {
    from {background-position-x: -20%}
    to {background-position-x: 20%}
} 

@keyframes bg-position {
    from {background-position-x: -20%}
    to {background-position-x: 20%}
}